* {
    box-sizing: border-box;
}
#opener {
    background-color: orange;
    color: white;
    margin: 0 40% 10px 0;
    text-align: center;
    padding: 10px;
    font-size: 25px;

}
#instructions{
    background-color: lightgoldenrodyellow;
    color: green;
    margin-right: 30%;
    padding: 8px;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}
#wrapper {
    margin: 10px 40% 0 0;
}
#generatedNumber {
    background-color: lightgreen;
    float: left;
    padding: 30px;

}
#tracker {
    background-color: cyan;
    text-align: left;
    float: left;
    margin: auto 10px 10px 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    
}
#crystalImages {
    margin: 10px auto;

}
#scoreHolder {
    background-color: darkcyan;
    color: white;
    margin: 10px 80% 5px auto;
    font-weight: bold;
    font-size: 18px;
    padding: 5px; 
}
#playerscore {
    background-color: darkcyan;
    color: white;
    margin: 10px 80% 5px auto;
    padding: 30px;
}
body {
    background-image: url("https://image.freepik.com/free-vector/waves-repeating-background-pastel-colors-doodle-vector-seamless-pattern-textile-packaging-design_7586-1878.jpg");
    /* background-repeat: repeat; */
  
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  